<div id="row-5" class="row row-5">
  <div class="col-md-3"></div>
  <div class="col-md-5 colum-about">
    <p>Aquesta web ha estat fundada com a eina de difusió, com una plataforma per a compartir i posar en contacte a gent i entitats d’arreu del món amb el projecte Paràsit. Aquesta iniciativa  es basa en el disseny personalitzat d’un espai i la seva instal·lació en un entorn desaprofitat.</p>
    <br/>
    <p>El projecte va nàixer de la idea del reaprofitament dels espais en desús, tant públics com privats, i mitjançant la col·locació d’una d’aquestes estructures paràsit, es dota l’espai amb unes noves característiques basades en les necessitats de l’usuari.
    En aquesta web podeu trobar-hi tot el necessari per a realitzar la implantació d’una estructura paràsit, des de la guia amb els passos a seguir per a analitzar l’entorn i els usuaris que l’utilitzaran, fins als plànols i les instruccions per a fabricar i construir l’objecte final.</p>
    <br/>
    <p>La fundadora del projecte Paràsit, va idear el projecte enfocat a les comunitats de veïns i en especial en els membres més veterans d’aquestes comunitats. L’objectiu inicial del projecte era ajudar als sèniors en el seu dia a dia, i així millorar la seva qualitat de vida, però a mesura que va anar avançant el projecte ens vam adonar que tenia moltes més aplicacions i per a molts més usuaris. I així és com va sorgir la guia d’extrapolació per tal d’analitzar cada una de les comunitats i determinar que és el que necessita.</p>
  </div>
  <div class="col-md-4"></div>
</div>